include *.md
include *.txt
include license.txt
recursive-include reckon_hrms_lt *.py
recursive-include reckon_hrms_lt *.json
recursive-include reckon_hrms_lt *.js
recursive-include reckon_hrms_lt *.html
recursive-include reckon_hrms_lt *.css